:root {
  --blue: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
  color: black;
  height: 60px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

ul:not(:last-child) {
  margin: 20px;
}

.navigation__link {
  height: 60px;
  display: flex;
  align-items: center;
}

a:hover {
  color: var(--blue);
}

.is-active {
  color: var(--blue);
  position: relative;
}

.is-active::after {
  content: '';
  background-color: var(--blue);
  width: 37px;
  height: 4px;
  display: flex;
  position: absolute;
  top: 56px;
}
